.page{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(1, 144, 230);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    width: 40%;
    height: 40%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



